Interpretor.json
[{"id":"b482db25.52ebe8","type":"tab","label":"Beginer HTML","disabled":false,"info":""},{"id":"8cf7af5b.b6824","type":"http in","z":"b482db25.52ebe8","name":"HTTP Hello World","url":"hw","method":"get","upload":false,"swaggerDoc":"","x":190,"y":200,"wires":[["a1168eeb.3da3c"]]},{"id":"1a7f526e.0d692e","type":"http response","z":"b482db25.52ebe8","name":"","statusCode":"","headers":{},"x":610,"y":200,"wires":[]},{"id":"a1168eeb.3da3c","type":"template","z":"b482db25.52ebe8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Hello World</title>\n    </head>\n    <body>\n        <div>Hello to Watson on Node-RED</div>\n        <div id=\"id_hello\"><span>I think you are typing text in:</span>\n        &nbsp;\n        <span id=\"id_textlang\"></span></div>\n        <form id=\"id_form\">\n            <div>\n                <span>\n                    Enter your text to be processed:  \n                </span>\n                <span>\n                    <input type=\"text\" name=\"name\" id=\"id_text\"/>\n                </span>\n            </div>\n            <div>\n                <input type=\"submit\" value=\"Enter\" id=\"id_enter\"/>\n            </div>\n        </form>        \n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\">\n        </script>\n        <script type=\"text/javascript\">\n            $(document).ready(function(){\n                setupPage();\n            });\n              var LANGUAGES = { 'ar' : 'Arabic',\n                    'en': 'English' ,\n                    'es': 'Spanish',\n                    'fr': 'French',\n                    'it': 'Italian',\n                    'de': 'German',\n                    'pt': 'Portuguese',\n                    'ko': 'Korean',\n                    'zh': 'Chinese'\n                  };\n            function setupPage(){\n                $('#id_hello').hide();\n                $('#id_form').submit(onSubmitClicked);\n                enterbutton();\n            }\n           \n            function langLookup(isocode) {\n                return (LANGUAGES[isocode] ? LANGUAGES[isocode] : isocode);\n            }\n         function processOK(response) {\n                console.log(response);\n                if (response.identifyresponse){\n                    $('#id_textlang').text(langLookup(response.identifyresponse));\n                } else {\n                    $('#id_textlang').text('No response received from service');\n                }\n            }\n            function processNotOK() {\n                console.log('Error Processing');\n                $('#id_textlang').text('Oops something went wrong');\n            }           \n            function invokeAjax(message) {\n                console.log('AJAX about to be invoked.');\n                console.log(message);\n                var ajaxData = {};\n                ajaxData.msgdata = message;\n                $.ajax({\n                    type: 'POST',\n                    url: 'langidentify',\n                    data: ajaxData,\n                    success: processOK,\n                    error: processNotOK\n                });\n            }\n \n            function onSubmitClicked(event){\n                $('#id_hello').show();\n                event.preventDefault();\n                var txt = $('#id_text').val();\n                invokeAjax(txt);\n            }\n            function enterbutton(){\n                $(function() {\n                    $(\"form input\").keypress(function (e) {\n                    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n                        $('#id_enter').click();\n                        return false;\n                    } else {\n                        return true;\n                    }\n                });\n            });\n        }\n        </script>       \n    </body>\n</html>","output":"str","x":380,"y":200,"wires":[["1a7f526e.0d692e"]]},{"id":"1406103a.80b99","type":"http in","z":"b482db25.52ebe8","name":"HTTP REST Identify language","url":"langidentify","method":"post","upload":false,"swaggerDoc":"","x":180,"y":400,"wires":[["afe0c036.01ee8"]]},{"id":"30c9ed62.e00dc2","type":"http response","z":"b482db25.52ebe8","name":"","statusCode":"","headers":{},"x":790,"y":400,"wires":[]},{"id":"66e76a84.ea23f4","type":"function","z":"b482db25.52ebe8","name":"Process output","func":"msg.payload = {};\nmsg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language){\n      msg.payload.identifyresponse = msg.lang.language;\n\t  }\n\nreturn msg; \n","outputs":1,"noerr":0,"x":620,"y":500,"wires":[["30c9ed62.e00dc2"]]},{"id":"afe0c036.01ee8","type":"function","z":"b482db25.52ebe8","name":"Extract Output","func":"msg.payload = msg.req.body.msgdata;\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":480,"wires":[["c79f5f08.45265"]]},{"id":"c79f5f08.45265","type":"watson-language-translator-identify","z":"b482db25.52ebe8","name":"","service-endpoint":"","x":490,"y":400,"wires":[["66e76a84.ea23f4"]]}]