language detection.json
[{"id":"4b6db74b.e4ed68","type":"tab","label":"Interpreter","disabled":false,"info":""},{"id":"31fc5a02.2b7886","type":"microphone","z":"4b6db74b.e4ed68","name":"","x":200,"y":260,"wires":[["5f099f21.eff44"]]},{"id":"2f30dd33.1771e2","type":"delay","z":"4b6db74b.e4ed68","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":260,"wires":[[]]},{"id":"2923578d.651c78","type":"play audio","z":"4b6db74b.e4ed68","name":"","voice":"","x":830,"y":260,"wires":[]},{"id":"5f099f21.eff44","type":"watson-speech-to-text","z":"4b6db74b.e4ed68","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":200,"y":360,"wires":[["4e68aa70.358b94"]]},{"id":"8c89945a.e71728","type":"watson-translator","z":"4b6db74b.e4ed68","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"hi","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"hi","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"","x":210,"y":460,"wires":[["5c70cff.01b593"]]},{"id":"4e68aa70.358b94","type":"function","z":"4b6db74b.e4ed68","name":"Prepare for Translation","func":"msg.payload = msg.transcription;\nreturn msg;\n ","outputs":1,"noerr":0,"x":440,"y":360,"wires":[["8c89945a.e71728"]]},{"id":"5c70cff.01b593","type":"watson-text-to-speech","z":"4b6db74b.e4ed68","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"","payload-response":false,"service-endpoint":"","x":420,"y":500,"wires":[["be0a1d6e.67382"]]},{"id":"be0a1d6e.67382","type":"function","z":"4b6db74b.e4ed68","name":"Prepare for speaker","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":540,"wires":[["2923578d.651c78"]]}]